body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #030760;
}


.line {
  position: absolute;
  top: 60%;
  width: 50%;
  height: 1px;
  background-color: #fff;
}

.line-left {
  left: 0;
}

.line-right {
  right: 0;
}

.border-bottom {
  border-bottom: 1px solid #030760 !important;
}

.w-100 {
  width: 100% !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.shadow-4 {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075) !important;
}

.align-items-center {
  align-items: center !important;
}

.g-0 {
  gap: 0 !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.image-container {
  height: 100%;
  position: relative;
}

.image-container img {
  object-fit: cover;
  height: 100%;
  width: auto;
}

#form3,
#form4 {
  border-radius: 0 !important;
  background-color: #fff !important;
  padding: 0.5rem 0.75rem !important;
  font-size: 1rem;
  color: #171717;
  z-index: 1;
}

.text-center {
  margin: 0% 0%;
}