.pagina {
  background-color: #030760;
}

.bloque {
  max-width: 1000px;
  margin: 50px auto;
  background-color: white;
}

.llline {
  position: absolute;
  bottom: 75%;
  width: 50%;
  height: 1px;
  background-color: #fff;
  z-index: -3;
}

.llline-left {
  left: 0;
}

.llline-right {
  right: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-3 {
  flex-basis: 25%;
}

.border-right {
  border-right: 1px solid #ccc;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.Logo {
  width: 80px;
  height: 80px;
  text-align: center;
}

.col-md-12 {
  flex-basis: 100%;
}

.rounded-circle {
  margin: 20px auto;
}

.labels {
  font-weight: bold;
  margin-top: 10px;
}

.form-control {
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.profile-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type='text'],
input[type='number'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

